.ui-paging-container{color:#000;font-size: 12px;}
.ui-paging-container ul{overflow: hidden;text-align: right;}
.ui-paging-container ul,.ui-paging-container li{list-style: none;}
.ui-paging-container li{
    display: inline-block;
    height: 30px;
    line-height: 28px;
    padding-left: 8px;
    padding-right: 8px;
}
.ui-paging-container li+li{
    margin-left: -1px;
}
.ui-paging-container li.js-page-prev{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.ui-paging-container li.js-page-next{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.ui-paging-container li.ui-pager{
    cursor: pointer;
    border:1px solid #e7e7e7;
}
.ui-paging-container li.focus{
    background-color: #e60012 !important;
    border-color: #e60012;
    color:#FFFFFF;
}
.ui-paging-container li.ui-pager:hover{
    /*background-color: #3aa1ff;*/
    /*border-color: #3aa1ff;*/
    color:#e60012;
}
.ui-paging-container li.ui-pager.focus:hover{
    color:#fff;
}
.ui-paging-container li.ui-paging-ellipse{border:none;}
.ui-paging-container li.ui-paging-toolbar{
    padding:0;

}
.ui-paging-container li.ui-paging-toolbar select{
    height:30px;
    border:1px solid #e7e7e7;
    color: #000;
    outline: none;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 4px;
}
/*.ui-paging-container li.ui-paging-toolbar select option{*/
/*padding: 4px 0px;*/
/*}*/
.ui-paging-container li.ui-paging-toolbar input{
    line-height: 28px;
    height:30px;
    padding:0;
    border:1px solid #e7e7e7;
    text-align: center;
    width: 30px;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
    /*margin:0 0 0 5px;*/
}
.ui-paging-container li.ui-paging-toolbar input:focus{
    outline: none;
}
.ui-paging-container li.ui-paging-toolbar a{
    /*vertical-align: middle;*/
    text-decoration: none;
    display: inline-block;
    height:30px;
    border:1px solid #e7e7e7;
    vertical-align: top;
    border-radius: 2px;
    line-height: 28px;
    padding:0 8px;
    cursor: pointer;
    margin-left: 15px;
    color: #000;
    border-radius: 4px;
}
.ui-paging-container li.ui-paging-toolbar a:hover{
    color: #3aa1ff;
}
.ui-paging-container li.ui-pager-disabled,.ui-paging-container li.ui-pager-disabled:hover{
    background-color: #f6f6f6;
    cursor: default;
    border:1px solid #f6f6f6;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color:#e7e7e7;
}
.ui-paging-container li.ui-pager-disabled{
    border: 1px solid #f6f6f6;
}
